/*Layout*/
html,
body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: scrollbar;
}
header {
    flex: none;
    border-bottom: 1px solid #c7c7c7;
    background:#fff;
    width: 100%;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    top: -100px;
    z-index: 1000;
}
header.shrink {
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
}
.title {
    float: left;
    padding: 8px 0px;
}
.title a {
    font-weight:600;
    font-size: 1.8em;
    color: #c7c7c7;
    text-decoration: none;
}
.title p {
    color: #b2b2b2;
    margin: 0;
}
.expandBar {
    padding: 0px !important;
    width: 100%;
}
.expandedPanel .title {
    display: none;
}
.panelContent {
    padding-top: 15px;
}
.expandedPanel .pull-right  {
    float: none !important;
}
.panelItem {
    display: inline-block;
}
.expandedPanel .panelItem {
    display: block;
}
.expandedPanel .panelContent {
    padding-bottom: 15px;
}
.searchBox {
    margin-left: 20px;
}
.searchBox img,
.searchBox .dx-acc {
    display: none;
}
.searchBoxButton {
    font-size: 17px;
}
.navMenu {
    float: right;
    margin: 0px 0px 2px 0px;
}
.expandedPanel .navMenu {
    width: 100%;
    margin: 10px 0px;
}
.expandedPanel .searchBox {
    width: 100%;
    margin-left: 0px;
}
.loginButton {
    margin: 0px 0px 1px 20px;
}
.expandedPanel .loginButton {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align:left;
}
.expandedPanel .loginButton .dropdown-toggle {
    width: 100%;
}
.loginButton-large,
.expandedPanel .loginButton-small {
    display: none;
}
.expandedPanel .loginButton-large {
    display: inline-block;
}
.btnBackToTop {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}
.btnBackToTop i {
    font-size: 60px;
    color: #c7c7c7;
}
.btnBackToTop i:hover {
    color: #e0e0e0;
}
.footerUp {
    padding-bottom: 26px;
    background: #6f6f6f;
}
.footerDown {
    background: #525252;
}
.footerDown p {
    margin: 16px 0px;
}
.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    margin-bottom: 40px;
}
footer {
    flex: none;
    color: white;
}
footer a {
    color: #cecaca;
}
footer a:hover,
footer a:focus {
    color: #fff;
}
footer h4 {
    margin-top: 32px;
}
.latestPosts li:not(:last-child) {
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
/*Home*/
.mainText {
    margin: 0 auto;
    max-width: 650px;
}
.features {
    margin-top: 40px;
}
.features .media {
    margin-top: 20px;
}
.features .featureIcon {
    font-size: 50px;
}
.marginTop20 {
    margin-top: 20px;
}
.marginTop40 {
    margin-top: 40px;
}
.customers .media {
    margin-top: 40px;
}
/*Contact Us*/
.map {
    height: 300px;
}
/*Blog*/
.blogImage {
    width: 100%;
}
.dataViewPosts .blogImage {
    padding-top: 25px;
}
.blogNavBar .blogNabVarGroupHeader a {
    text-decoration: none !important;
}
.blogNavBar {
    margin-top: 45px;
}
.user {
    font-size: 64px;
}


/* Login */
body{
    background: #fff;
}
.navbar, .dropdown-menu{
background:#09ba32;
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: rgba(154, 154, 154, 0.27);
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #b6f423 4px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #82e2ea 4px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #f8b42c 4px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #fd594a 4px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #e8479d 4px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #a12eeb 4px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #4785d9 4px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #2aed9a 4px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #000000;
}

/* Credit to bootsnipp.com for the css for the color graph 
 ESTO SOLO ES PARA EL FORMULARIO DE LOGIN
*/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}